<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="main-manage" class="manage">
        <div class="main-manage">
            <div class="card-song">
                <div th:replace="dashboard/dashboardMainHeadCal :: main-headCal"></div>
            </div>
            <div class="main-manage-item ilManage card-song">
                <div>
                    <h3>일반 운행</h3>
                </div>
                <div>
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col width="5%">
                            <col width="22%">
                            <col width="6%">
                            <col width="7%">
                            <col width="30%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>고객</th>
                                <th>예약</th>
                                <th>대수</th>
                                <th>목적지</th>
                                <th>총금액</th>
                                <th>입금액</th>
                                <th>미수금</th>
                            </tr>
                        </thead>
                        <tbody id="tb-ilManage"></tbody>
                    </table>
                </div>
            </div>
            <div class="main-manage-item hakManage card-song">
                <div>
                    <h3>학생단체 운행</h3>
                </div>
                <div>
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col width="5%">
                            <col width="22%">
                            <col width="6%">
                            <col width="7%">
                            <col width="30%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>학교</th>
                                <th>예약</th>
                                <th>대수</th>
                                <th>목적지</th>
                                <th>총금액</th>
                                <th>입금액</th>
                                <th>미수금</th>
                            </tr>
                        </thead>
                        <tbody id="tb-hakManage"></tbody>
                    </table>
                </div>
            </div>
            <div class="main-manage-item guManage card-song">
                <div>
                    <h3>거래처 운행</h3>
                </div>
                <div>
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col width="5%">
                            <col width="22%">
                            <col width="6%">
                            <col width="7%">
                            <col width="30%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>거래처</th>
                                <th>예약</th>
                                <th>대수</th>
                                <th>목적지</th>
                                <th>총금액</th>
                                <th>입금액</th>
                                <th>미수금</th>
                            </tr>
                        </thead>
                        <tbody id="tb-guManage"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="allo-side scBar">
            <div class="manageAside">
                <table class="table table-hover table-bordered table-sm">
                    <colgroup>
                        <col width="20%">
                        <col width="17%">
                        <col width="17%">
                        <col width="17%">
                        <col width="auto">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>날짜</th>
                            <th>일반</th>
                            <th>학단</th>
                            <th>거래처</th>
                            <th>미수금</th>
                        </tr>
                    </thead>
                    <tbody id="manegeAsideTb"></tbody>
                    <tfoot id="manegeAsideTf"></tfoot>
                </table>
            </div>
        </div>
    </div>
</html>