<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="adminSign-body">
        <aside th:replace="admin/adminSide :: adminSide"></aside>
        <main class="adminuser">
            <div class="adminuser-item1 card-song">
                <h4>목록</h4>
                <div>
                    <table class="table table-bordered table-hover table-striped">
                        <colgroup>
                            <col width=""/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>소속</th>
                                <th>직급</th>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>권한</th>
                            </tr>
                        </thead>
                        <tbody id="adminuserTb">
                            <tr th:each="userAll : ${userAll}" class="chouser">
                                <td th:text="${userAll.company}"></td>
                                <td th:text="${userAll.position}"></td>
                                <td th:text="${userAll.name}"></td>
                                <td th:text="${userAll.id}"></td>
                                <td th:if="${userAll.power.toString().equals('ADMIN')}">관리자</td>
                                <td th:if="${userAll.power.toString().equals('MANAGER')}">실무자</td>
                                <td th:if="${userAll.power.toString().equals('EMP')}">사무실</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form
                class="adminuser-item2 card-song amdinSignForm"
                id="signUpForm"
                th:action="@{/admin/signup}"
                method="post">
                <input type="hidden" name="id" id="id">
                <div class="row mb-12">
                    <label for="company" class="col-sm-2 col-form-label">소속</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="company" name="company" required="required">
                            <option
                                th:each="company : ${compa}"
                                th:value="${company.company}"
                                th:label="${company.company}"
                                th:data-value="${company.company}"></option>
                        </select>
                    </div>
                </div>
                <div class="row mb-12">
                    <label for="position" class="col-sm-2 col-form-label">직급</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            id="position"
                            name="position"
                            required="required">
                    </div>
                </div>
                <div class="row mb-12">
                    <label for="name" class="col-sm-2 col-form-label">이름</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            required="required">
                    </div>
                </div>
                <div class="row mb-12">
                    <label for="power" class="col-sm-2 col-form-label">권한</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="power" name="power" required="required">
                            <option value="ADMIN" label="관리자"></option>
                            <option value="MANAGER" label="실무자"></option>
                            <option value="EMP" label="사무실"></option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="color" name="color" value="1">
                <button
                    type="submit"
                    class="btn btn-primary"
                    id="btnUpUser"
                    disabled="disabled">수 정</button>
            </form>
        </main>
        <th:block th:replace="layout/linkGroupScript :: linkScript"></th:block>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/admin/adminuser.js"></script>
    </body>

</html>