<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <aside id="adminSide" th:fragment="adminSide">
        <div class="logo">
            <span class="detail-user-1" th:text="${user.company}"></span>
        </div>
        <div class="aside-main">
            <div class="side-item">
                <h4 class="">사용자 수정</h4>
                <a th:href="@{/admin}" class="aside-a">수정</a>
            </div>
            <hr>
            <div class="side-item">
                <h4 class="">통계</h4>
                <a th:href="@{/admin/stats1}" class="aside-a">회사</a>
                <a th:href="@{/admin/stats2}" class="aside-a">개인</a>
            </div>
        </div>
    </aside>
</html>