<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="adminSign-body">
        <aside th:replace="admin/adminSide :: adminSide"></aside>
        <main class="">
            <div class="amdinSignForm">
                <form id="signUpForm" th:action="@{/admin/signup}" method="post">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-1 col-form-label">아이디</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="id" name="id" required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="pw" class="col-sm-1 col-form-label">비밀번호</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="pw" name="pw" required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="company" class="col-sm-1 col-form-label">소속</label>
                        <div class="col-sm-3">
                            <select class="form-select" id="company" name="company" required="required">
                                <option
                                    th:each="company : ${compa}"
                                    th:value="${company.company}"
                                    th:label="${company.company}"
                                    th:data-value="${company.company}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="name" class="col-sm-1 col-form-label">이름</label>
                        <div class="col-sm-3">
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="position" class="col-sm-1 col-form-label">직급</label>
                        <div class="col-sm-3">
                            <input
                                type="text"
                                class="form-control"
                                id="position"
                                name="position"
                                required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="power" class="col-sm-1 col-form-label">권한</label>
                        <div class="col-sm-3">
                            <select class="form-select" id="power" name="power" required="required">
                                <option value="ADMIN" label="관리자"></option>
                                <option value="MANAGER" label="실무자"></option>
                                <option value="EMP" label="사무실"></option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="color" name="color" value="1">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </main>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbuser =/*[[${user}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
        </script>
        <th:block th:replace="layout/linkGroupScript :: linkScript"></th:block>
    </body>

</html>