<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <!-- 자동완성 방지용 -->
        <input type="text" style="width:0px;height:0px;position: absolute;">
        <input type="password" style="width:0px;height:0px;position: absolute;">
        <!-- 자동완성 방지용 -->
        <aside class="nomal-aside">
            <div class="nomal-aside-main">

                <div class="nomal-aside-search">
                    <div class="logo">
                        <span
                            class="detail-user-1"
                            th:text="${user.company}"
                            data-bs-toggle="tooltip"
                            data-bs-placement="left"
                            title="홈으로"></span>
                        <span class="detail-user-2">인사정보</span>
                    </div>
                    <div class="hd-search">
                        <div class="hd-serach-group">
                            <div class="hd-search-icon">
                                <i class=" fas fa-search"></i>
                            </div>
                            <input
                                type="text"
                                id="emp-search"
                                autocomplete="off"
                                oninput="getEmpAll(this.value)"
                                placeholder="검색">
                            <button id="btn-x">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hd-name scBar">
                    <input type="hidden" id="emp-iidd">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified evNav shadow-sm" role="tablist">
                            <li class="nav-item " role="presentation">
                                <button
                                    class="nav-link active tab-flex"
                                    id="all-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#all"
                                    type="button"
                                    role="tab"
                                    aria-controls="all"
                                    aria-selected="true">
                                    <div class="tab-flex-ve">
                                        <span>전체</span>
                                        <span class="badge bg-secondary" id="bgAll">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="compa-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#compa"
                                    type="button"
                                    role="tab"
                                    aria-controls="compa"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>회사</span>
                                        <span class="badge bg-secondary" id="bgCompa">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="solo-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#solo"
                                    type="button"
                                    role="tab"
                                    aria-controls="solo"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>개인</span>
                                        <span class="badge bg-secondary" id="bgSolo">00</span>
                                    </div>

                                </button>
                            </li>
                            <li class="nav-item " role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="yeb-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#yeb"
                                    type="button"
                                    role="tab"
                                    aria-controls="yeb"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>예비</span>
                                        <span class="badge bg-secondary" id="bgYeb">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item " role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="outman-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#outman"
                                    type="button"
                                    role="tab"
                                    aria-controls="outman"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>퇴사</span>
                                        <span class="badge bg-secondary" id="bgOutman">00</span>
                                    </div>
                                </button>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content hd-tb">
                            <div
                                class="tab-pane fade show active"
                                id="all"
                                role="tabpanel"
                                aria-labelledby="all-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered" id="ddssaa">
                                                <colgroup>
                                                    <col width="25%"/>
                                                    <col width="15%"/>
                                                    <col width="15%"/>
                                                    <col width="20%"/>
                                                    <col width="15%"/>
                                                    <col width="10%"/>
                                                </colgroup>
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortNum">차량</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                        <th class="sortNum">나이</th>
                                                        <th class="sortStr">종류</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered" id="ddssaa">
                                            <colgroup>
                                                <col width="25%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="20%"/>
                                                <col width="15%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-all"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="compa"
                                role="tabpanel"
                                aria-labelledby="compa-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered">
                                                <colgroup>
                                                    <col width="25%"/>
                                                    <col width="15%"/>
                                                    <col width="15%"/>
                                                    <col width="20%"/>
                                                    <col width="15%"/>
                                                    <col width="10%"/>
                                                </colgroup>
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortNum">차량</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                        <th class="sortNum">나이</th>
                                                        <th class="sortStr">종류</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered">
                                            <colgroup>
                                                <col width="25%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="20%"/>
                                                <col width="15%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-compa"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="solo" role="tabpanel" aria-labelledby="solo-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered">
                                                <colgroup>
                                                    <col width="25%"/>
                                                    <col width="15%"/>
                                                    <col width="15%"/>
                                                    <col width="20%"/>
                                                    <col width="15%"/>
                                                    <col width="10%"/>
                                                </colgroup>
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortNum">차량</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                        <th class="sortNum">나이</th>
                                                        <th class="sortStr">종류</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered">
                                            <colgroup>
                                                <col width="25%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="20%"/>
                                                <col width="15%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-solo"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="yeb" role="tabpanel" aria-labelledby="yeb-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered">
                                                <colgroup>
                                                    <col width="25%"/>
                                                    <col width="25%"/>
                                                    <col width="25%"/>
                                                    <col width="25%"/>
                                                </colgroup>
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                        <th class="sortNum">나이</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered">
                                            <colgroup>
                                                <col width="25%"/>
                                                <col width="25%"/>
                                                <col width="25%"/>
                                                <col width="25%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-yeb"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="outman"
                                role="tabpanel"
                                aria-labelledby="outman-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered">
                                                <colgroup>
                                                    <col width="25%"/>
                                                    <col width="25%"/>
                                                    <col width="25%"/>
                                                    <col width="25%"/>
                                                </colgroup>
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                        <th class="sortNum">나이</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered">
                                            <colgroup>
                                                <col width="25%"/>
                                                <col width="25%"/>
                                                <col width="25%"/>
                                                <col width="25%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-outman"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nomal-aside-btn">
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <button type="button" class="btn btn-default" id="md-New">
                            신규입력<i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <a type="button" th:href="@{/employee/sal}" class="btn btn-default">
                            급여입력<i class="fa-solid fa-coins"></i>
                        </a>
                        <input type="hidden" id="showm" value="0">
                    </div>
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <a type="button" th:href="@{/employee/jang}" class="btn btn-default">
                            거래입력<i class="fa-solid fa-handshake"></i>
                        </a>
                        <input type="hidden" id="showm" value="0">
                    </div>
                </div>
            </div>
        </aside>
        <header class="nomal-head">
            <div class="nomal-head-item"></div>
            <div class="nomal-head-item">
                <a id="show-aside">
                    <input type="hidden" value="0" id="show-aside-hd">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </header>
        <main class="nomal-main">
            <div class="main-aside" id="empNomal">
                <div class="main-aside-item">
                    <div class="main-aside-item-head emp-nth card-song">
                        <div class="main-aside-item-head-item">
                            <input type="hidden" id="emp00" value="">
                            <a href="img/employee/emp.png" target='_blank' id="empPic-a">
                                <img
                                    src="img/employee/emp.png"
                                    onerror="this.src='img/employee/emp.png'"
                                    alt=""
                                    class="cardImg img-thumbnail"
                                    id="empPic">
                            </a>
                        </div>
                        <div class="main-aside-item-head-item">
                            <div class="emp-head-detail" id="emp01">회사</div>
                            <div class="emp-head-detail" id="emp02">구분</div>
                            <div class="emp-head-detail" id="emp03">
                                <span>이름</span>
                            </div>
                            <div class="emp-head-detail" id="emp04">운행차량</div>
                            <div class="emp-head-detail" id="emp05">
                                생년월일
                                <input type="hidden" id="emp05-1" value="">
                            </div>

                            <div class="emp-head-detail" id="emp06">성별</div>
                            <div class="emp-head-detail" id="emp07">연락처</div>
                            <div class="emp-head-detail" id="emp08"></div>
                            <div class="emp-head-detail" id="emp09">비상연락처</div>
                            <div class="emp-head-detail" id="emp10"></div>
                        </div>
                    </div>

                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">주소</div>
                                <div class="emp-add-detail" id="emp11"></div>
                                <div class="emp-add-detail emp-ttt">차고지</div>
                                <div class="emp-add-detail" id="emp12"></div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">입사일</div>
                                <div class="emp-add-detail" id="emp13">
                                    <input type="hidden" id="emp13-1" value="">
                                </div>
                                <div class="emp-add-detail emp-ttt">퇴사일</div>
                                <div class="emp-add-detail" id="emp14">
                                    <input type="hidden" id="emp14-1" value="">
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">면허번호</div>
                                <div class="emp-add-detail" id="emp15"></div>
                                <div class="emp-add-detail emp-ttt">버스자격증</div>
                                <div class="emp-add-detail" id="emp16"></div>
                                <div class="emp-add-detail emp-ttt">보수교육</div>
                                <div class="emp-add-detail" id="emp17">
                                    <input type="hidden" id="emp17-1" value="">
                                    <input type="hidden" id="emp17-2" value="">
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">급여계좌</div>
                                <div class="emp-add-detail" id="emp18">
                                    <input type="hidden" id="emp18-1" value="">
                                    <input type="hidden" id="emp18-2" value="">
                                    <input type="hidden" id="emp18-3" value="">
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">메모</div>
                                <div class="emp-add-detail" id="emp19"></div>
                                <input type="hidden" id="emp20" value="">
                                <input type="hidden" id="emp21" value="">
                                <input type="hidden" id="emp22" value="">
                                <input type="hidden" id="emp23" value="">
                                <input type="hidden" id="emp24" value="">
                            </div>
                        </blockquote>
                    </div>
                    <div
                        class="btn-group btn-group-justified emp-nth"
                        role="group"
                        aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" id="md-Ch">수&nbsp;정</button>
                        </div>
                    </div>
                </div>
                <div class="main-aside-item card-song">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills nav-justified dd-nav dd-nav2" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active"
                                    id="operemp-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#operemp"
                                    type="button"
                                    role="tab"
                                    aria-controls="operemp-profile"
                                    aria-selected="false">운행내역</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="moneyemp-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#moneyemp"
                                    type="button"
                                    role="tab"
                                    aria-controls="moneyemp-profile"
                                    aria-selected="false">급여</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="infoemp-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#infoemp"
                                    type="button"
                                    role="tab"
                                    aria-controls="infoemp-profile"
                                    aria-selected="false">기타</button>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div
                                th:insert="employee/empOper :: emp-oper"
                                class="tab-pane fade show active"
                                id="operemp"
                                role="tabpanel"
                                aria-labelledby="pills-operemp-tab"></div>
                            <div
                                th:insert="employee/empMoney :: emp-money"
                                class="tab-pane fade"
                                id="moneyemp"
                                role="tabpanel"
                                aria-labelledby="pills-moneyemp-tab"></div>
                            <div
                                th:insert="employee/empInfo :: emp-info"
                                class="tab-pane fade"
                                id="infoemp"
                                role="tabpanel"
                                aria-labelledby="pills-infoemp-tab"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="offcanvas offcanvas-end"
                data-bs-scroll="true"
                data-bs-backdrop="false"
                tabindex="-1"
                id="offAlloIn"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h3 id="offAlloInLabel"></h3>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
            </div>
        </main>
        <!-- Modal -->
        <div
            id="modal-insert"
            class="modal fade"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="staticBackdropLabel"></h2>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id">
                        <div class="emp-insert">
                            <div class="emp-insert-item emp-pic">
                                <img
                                    src="img/employee/emp.png"
                                    onerror="this.src='img/employee/emp.png'"
                                    id="emp-pic-pre"
                                    alt=""
                                    class="cardImg img-thumbnail">
                                <form class="row" action="" id="emp-form">
                                    <div class="form-group" style="padding-top: 1rem;">
                                        <label class="file-la" for="imgSelector">사진 파일선택</label>
                                        <input
                                            type="file"
                                            accept="image/*"
                                            name="uploadfile"
                                            id="imgSelector"
                                            style="display: none;">
                                        <input type="hidden" name="empid" id="empid">
                                    </div>
                                </form>
                            </div>
                            <div class="emp-insert-item row" style="margin-left: 1rem;">
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="name">이름</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        style="ime-mode: active"
                                        class="form-control"
                                        id="name"
                                        name="name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="birthday">생년월일</label>
                                    <input type="date" class="form-control" id="birthday" name="birthday">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="gender">성별</label>
                                    <select class="form-select" id="gender" name="gender">
                                        <option>남</option>
                                        <option>여</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="company">회사</label>
                                    <select class="form-select" id="company" name="company">
                                        <option>미정</option>
                                        <option
                                            th:each="company : ${company}"
                                            th:value="${company.company}"
                                            th:label="${company.company}"
                                            th:data-value="${company.company}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="kind">구분</label>
                                    <select class="form-select" id="kind" name="kind">
                                        <option>회사</option>
                                        <option>개인</option>
                                        <option>예비</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="phone1">연락처</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="phone1"
                                        name="phone1"
                                        placeholder="010-0000-0000">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="phone2">비상연락처</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="phone2"
                                        name="phone2">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="address">주소</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="address"
                                        name="address">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="garage">차고지</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="garage"
                                        name="garage">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="joind">입사일</label>
                                    <input type="date" class="form-control" id="joind" name="joind">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="endd">퇴사일*(입력시 퇴사 처림됨)</label>
                                    <input type="date" class="form-control" id="endd" name="endd">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="drvl">면허번호</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="drvl"
                                        name="drvl">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="busl">버스자격증번호</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="busl"
                                        name="busl">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="bosum">보수교육일</label>
                                    <input
                                        type="date"
                                        autocomplete="off"
                                        class="form-control"
                                        id="bosum"
                                        name="bosum">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="bobuj">보수교육</label>
                                    <select class="form-select" id="bobuj" name="bobuj">
                                        <option>없음</option>
                                        <option>신규</option>
                                        <option>보수</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="bank">은행</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="bank"
                                        name="bank">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="gye">계좌번호</label>
                                    <input type="text" autocomplete="off" class="form-control" id="gye" name="gye">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="gyename">예금주</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="gyename"
                                        name="gyename">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row" style="margin-bottom: 2rem;">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="memo">메모</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="memo"
                                        name="memo">
                                    <input type="hidden" id="basem" value="0">
                                    <input type="hidden" id="kukm" value="0">
                                    <input type="hidden" id="gunm" value="0">
                                    <input type="hidden" id="gom" value="0">
                                    <input type="hidden" id="sanm" value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer mdf-insert" style="gap: 2rem;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫&nbsp;기</button>
                        <button type="button" class="btn btn-primary" id="btn-insert">저&nbsp;장</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="dashboard/dashboardBottom :: main-bottom"></div>
        <div th:replace="openTemplates/vehicleAccMD :: ve-MD-accCont"></div>
        <th:block th:replace="layout/linkGroupScript :: linkScript"></th:block>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/employee/employeeBody.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/vehicleAccContMD.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainHomeCell.js?v=2020051201"></script>
    </body>
</html>