<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="dashLinkScript">
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/calendar.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/calLayout.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainHome.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainHome2.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainHome3.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainHome4.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainManage.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainNoManage.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainGuManage.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainCuManage.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainRsvt.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainAllo.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/modalSetting.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/insertCustomer.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/updateCustomer.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/makePaperModal.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/modalRsvtMoney.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/modalAllo2.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/modalOne.js?v=2020051201"></script>
    </th:block>
</html>