<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="main-home3" class="main-home">
        <div class="home-main">
            <div class="home-main-item-4">
                <div class="card-song">
                    <div th:replace="dashboard/dashboardMainHeadCal :: main-headCal"></div>
                </div>
                <div class="tab-pane card-song home-tap" role="tabpanel">
                    <div class="home-main-item-444">
                        <div class="home2-item1">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    id="radioOper1"
                                    name="radioOper"
                                    checked="checked">
                                <label class="form-check-label" for="radioOper1">일별 예약 정보</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radioOper2" name="radioOper">
                                <label class="form-check-label" for="radioOper2">월별 예약 정보</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radioOper3" name="radioOper">
                                <label class="form-check-label" for="radioOper3">예약 검색</label>
                            </div>
                        </div>
                        <div class="home2-item2">
                            <div class="home2-search0">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="searchChOper"
                                        checked="checked">
                                    <label class="form-check-label" for="searchChOper">
                                        전체
                                    </label>
                                </div>
                                <div class="home2-peri">
                                    <input type="date" class="form-control" id="searchPeStOper">
                                    <span>~</span>
                                    <input type="date" class="form-control" id="searchPeEdOper">
                                </div>
                            </div>
                            <div class="home2-search1">
                                <select class="form-select" id="searchSepaOper">
                                    <option value="0">고객명</option>
                                    <option value="1">운행일</option>
                                    <option value="2">목적지</option>
                                    <option value="3">출발지</option>
                                    <option value="4">배차차량</option>
                                    <option value="5">승무원</option>
                                    <option value="6">배차금액</option>
                                </select>
                            </div>
                            <div class="home2-search2">
                                <div class="home3-searchText">
                                    <input type="text" class="form-control searchText" id="searchTextOper">
                                    <button class="btn btn-primary searIconOper">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                                <div class="home3-searchDate">
                                    <input type="date" class="form-control searchDate" id="searchDateOper">
                                    <button class="btn btn-primary searIconOper">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                                <div class="home3-searchVe">
                                    <input
                                        type="text"
                                        list="car-info"
                                        class="form-control searchText"
                                        id="searchVeOper">
                                    <button class="btn btn-primary searIconOper">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                                <div class="home3-searchPe">
                                    <input
                                        type="text"
                                        list="per-info"
                                        class="form-control searchText"
                                        id="searchPerOper">
                                    <button class="btn btn-primary searIconOper">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                                <div class="home3-searchM">
                                    <input
                                        type="text"
                                        data-type="currency"
                                        class="form-control searchText"
                                        id="searchMOper">
                                    <button class="btn btn-primary searIconOper">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">

                        <div class="table-scroll">
                            <div class="table-scroll-head">
                                <div class="table-scroll-head-inner">
                                    <table class="table table-striped table-hover table-bordered home-tb">
                                        <colgroup>
                                            <col width="10%"/>
                                            <col width="15%"/>
                                            <col width="16%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="10%"/>
                                            <col width="8%"/>
                                            <col width="5%"/>
                                            <col width="15%"/>
                                            <col width="5%"/>
                                        </colgroup>
                                        <thead class="table-light">
                                            <tr>
                                                <th class="sortNum">운행일</th>
                                                <th class="sortStr">고객정보</th>
                                                <th class="sortStr">목적지</th>
                                                <th class="tdCho sortStr">배차차량</th>
                                                <th class="tdCho sortStr">승무원</th>
                                                <th class="tdCho sortInput">배차금액</th>
                                                <th class="sortNum">대당금액</th>
                                                <th class="sortNum">호차</th>
                                                <th class="sortStr">출발장소</th>
                                                <th class="sortNum">출발시간</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="table-scroll-body-oper">
                                <table class="table table-striped table-hover table-bordered home-tb">
                                    <colgroup>
                                        <col width="10%"/>
                                        <col width="15%"/>
                                        <col width="16%"/>
                                        <col width="8%"/>
                                        <col width="8%"/>
                                        <col width="10%"/>
                                        <col width="8%"/>
                                        <col width="5%"/>
                                        <col width="15%"/>
                                        <col width="5%"/>
                                    </colgroup>
                                    <tbody id="home3-tb-il"></tbody>
                                </table>
                            </div>
                            <div class="table-scroll-head">
                                <div class="table-scroll-head-inner">
                                    <table class="table table-striped table-hover table-bordered home-tb">
                                        <colgroup>
                                            <col width="10%"/>
                                            <col width="15%"/>
                                            <col width="16%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="10%"/>
                                            <col width="8%"/>
                                            <col width="5%"/>
                                            <col width="15%"/>
                                            <col width="5%"/>
                                        </colgroup>
                                        <caption>
                                            <span>1. 대당금액은 부가세, 카드 수수료를 제외한 금액입니다.</span>
                                            <span>2. 데이터양이 많으면 성능이 저하될 수 있습니다. 검색기능을 이용해주세요.</span>
                                            <span>3. 배차된 운행 정보만 표시됩니다. 예약정보는 '예약정보관리'에서 확인해 주세요.</span>
                                        </caption>
                                        <tfoot id="home3-tf-il">
                                            <tr>
                                                <td colspan="5"></td>
                                                <td class="tdRight"></td>
                                                <td class="tdRight"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="allo-side scBar">
            <div class="home2Main">
                <div class="table-responsive">
                    <h4 id="home2Tile"></h4>
                    <table class="table table-hover table-bordered table-sm">
                        <colgroup>
                            <col width="35%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>날짜</th>
                                <th>대형</th>
                                <th>우등</th>
                                <th>중형</th>
                                <th>총</th>
                            </tr>
                        </thead>
                        <tbody id="home2AsideTb"></tbody>
                        <tbody id="home2AsideTf"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</html>