<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <!-- 자동완성 방지용 -->
        <input type="text" style="width:0px;height:0px;position: absolute;">
        <input type="password" style="width:0px;height:0px;position: absolute;">
        <!-- 자동완성 방지용 -->
        <aside class="nomal-aside">
            <div class="nomal-aside-main">

                <div class="nomal-aside-search">
                    <div class="logo">
                        <span
                            class="detail-user-1"
                            th:text="${user.company}"
                            data-bs-toggle="tooltip"
                            data-bs-placement="left"
                            title="홈으로"></span>
                        <span class="detail-user-2">급여정보</span>
                    </div>
                    <div class="hd-search">
                        <div class="hd-serach-group">
                            <div class="hd-search-icon">
                                <i class=" fas fa-search"></i>
                            </div>
                            <input
                                type="text"
                                id="emp-search"
                                autocomplete="off"
                                oninput="getEmpAllM(this.value)"
                                placeholder="검색">
                            <button id="btn-x">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hd-name scBar">
                    <input type="hidden" id="emp-iidd">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified evNav shadow-sm" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link tab-flex active"
                                    id="compa-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#compa"
                                    type="button"
                                    role="tab"
                                    aria-controls="compa"
                                    aria-selected="true">
                                    <div class="tab-flex-ve">
                                        <span>회사</span>
                                        <span class="badge bg-secondary" id="bgCompa">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item size-hidden" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="outman-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#outman"
                                    type="button"
                                    role="tab"
                                    aria-controls="outman"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>퇴사</span>
                                        <span class="badge bg-secondary" id="bgOutman">00</span>
                                    </div>
                                </button>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content hd-tb">
                            <div
                                class="tab-pane fade show active"
                                id="compa"
                                role="tabpanel"
                                aria-labelledby="compa-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered">
                                                <colgroup>
                                                    <col width="23%"/>
                                                    <col width="23%"/>
                                                    <col width="23%"/>
                                                    <col width="auto%"/>
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortNum">차량</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered">
                                            <colgroup>
                                                <col width="23%"/>
                                                <col width="23%"/>
                                                <col width="23%"/>
                                                <col width="auto%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-compa"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="outman"
                                role="tabpanel"
                                aria-labelledby="outman-tab">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="scBar">
                                            <table class="table table-striped table-hover table-bordered">
                                                <colgroup>
                                                    <col width="23%"/>
                                                    <col width="23%"/>
                                                    <col width="23%"/>
                                                    <col width="auto%"/>
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="sortStr">이름</th>
                                                        <th class="sortStr">소속</th>
                                                        <th class="sortStr">생년월일</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-scroll-body-emp scBar">
                                        <table class="table table-striped table-hover table-bordered">
                                            <colgroup>
                                                <col width="23%"/>
                                                <col width="23%"/>
                                                <col width="23%"/>
                                                <col width="auto%"/>
                                            </colgroup>
                                            <tbody id="emp-tb-outman"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nomal-aside-btn">
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <a type="button" th:href="@{/employee}" class="btn btn-default">
                            승무원정보<i class="fa-solid fa-user-check"></i>
                        </a>
                        <input type="hidden" id="showm" value="0">
                    </div>
                </div>
            </div>
        </aside>
        <header class="nomal-head">
            <div class="nomal-head-item"></div>
            <div class="nomal-head-item">
                <a id="show-aside">
                    <input type="hidden" value="0" id="show-aside-hd">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </header>
        <main class="nomal-main">
            <div class="moneyInsertEmp">
                <div class="moneyInsertEmp-item card-song">
                    <div class="operTitle shadow-sm">
                        <div class="operTitle-item">
                            <h4>운행내역</h4>
                            <input type="hidden" id="emp-sal" value="0">
                        </div>
                        <div class="operTitle-item">
                            <div class="dash-cal-h-money">
                                <div class="">
                                    <a class="btn" id="fnDownMonth1">
                                        <i class="fas fa-chevron-left fa-lg"></i>
                                    </a>
                                </div>
                                <div class="dash-cal-h-item dash-cal-h-item2" id="">
                                    <strong><input class="yearmonthsMoney" type="month" id="yearmonthsMoney1" value=""></strong>
                                </div>
                                <div class="">
                                    <a class="btn" id="fnUpMonth1">
                                        <i class="fas fa-chevron-right fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="operTitle-item">
                            <div class="input-group">
                                <div class="input-group-text">비율</div>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="operO"
                                    autocomplete="off"
                                    onfocus="this.select()">
                                <div class="input-group-text">&#37;</div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-oper-m" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified shadow-sm" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active tab-flex tab-flex-Minsert"
                                    id="oper1-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#oper1"
                                    type="button"
                                    role="tab"
                                    aria-controls="oper1"
                                    aria-selected="true">
                                    <span>일반운행</span>
                                    <span class="badge bg-secondary" id="bgoper1">0</span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link tab-flex tab-flex-Minsert"
                                    id="oper2-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#oper2"
                                    type="button"
                                    role="tab"
                                    aria-controls="oper2"
                                    aria-selected="true">
                                    <span>정기운행</span>
                                    <span class="badge bg-secondary" id="bgoper2">0</span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    id="oper3-tab"
                                    type="button"
                                    role="tab"
                                    aria-controls="oper3"
                                    aria-selected="false"
                                    class="nav-link tab-flex tab-flex-Minsert">
                                    <span>정기운행정보</span>
                                    <span class="badge bg-secondary" id="bgoper4">0</span>
                                    <span class="fa fa-up-right-from-square" id="bgoper3"></span>
                                </button>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div
                                class="tab-pane fade show active"
                                id="oper1"
                                role="tabpanel"
                                aria-labelledby="oper1-tab">
                                <div class="operCont scBar">
                                    <div class="table-responsive">

                                        <div class="table-scroll">
                                            <div class="table-scroll-head">
                                                <div class="table-scroll-head-inner">
                                                    <table class="table table-striped table-hover table-bordered ">
                                                        <colgroup>
                                                            <col width="5%"/>
                                                            <col width="5%"/>
                                                            <col width="10%"/>
                                                            <col width="23%"/>
                                                            <col width="13%"/>
                                                            <col width="8%"/>
                                                            <col width="23%"/>
                                                            <col width="13%"/>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th><input type="checkbox" id="mCh-All"></th>
                                                                <th class="hideTh"></th>
                                                                <th class="hideTh"></th>
                                                                <th class="hideTh"></th>
                                                                <th class="hideTh"></th>
                                                                <th>#</th>
                                                                <th>운행일</th>
                                                                <th>목적지</th>
                                                                <th>금액</th>
                                                                <th>운행</th>
                                                                <th>고객정보</th>
                                                                <th>확정</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scroll-body-emp-Oper">
                                            <table class="table table-striped table-hover table-bordered ">
                                                <colgroup>
                                                    <col width="5%"/>
                                                    <col width="5%"/>
                                                    <col width="10%"/>
                                                    <col width="23%"/>
                                                    <col width="13%"/>
                                                    <col width="8%"/>
                                                    <col width="23%"/>
                                                    <col width="13%"/>
                                                </colgroup>
                                                <tbody id="emp-oper-money-tb">
                                                    <tr>
                                                        <td colspan="12">운행정보없음</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="oper2"
                                role="tabpanel"
                                aria-labelledby="oper2-tab">
                                <div class="operCont scBar">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered ">
                                            <colgroup>
                                                <col width="5%"/>
                                                <col width="15%"/>
                                                <col width="auto"/>
                                                <col width="auto"/>
                                                <col width="13%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th>#</th>
                                                    <th>운행일</th>
                                                    <th>회사</th>
                                                    <th>노선</th>
                                                    <th>운행</th>
                                                    <th>금액</th>
                                                    <th>확정</th>
                                                </tr>
                                            </thead>
                                            <tbody id="emp-reg-money-tb">
                                                <tr>
                                                    <td colspan="12">운행정보없음</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moneyInsertEmp-item">
                    <div class="moneyInsertEmp-start card-song">
                        <div class="operTitle shadow-sm">
                            <div class="operTitle-item">
                                <h4>급여 내역 입력</h4>
                            </div>
                            <div class="operTitle-item">
                                <div class="dash-cal-h-money">
                                    <div class="">
                                        <a class="btn" id="fnDownMonth2">
                                            <i class="fas fa-chevron-left fa-lg"></i>
                                        </a>
                                    </div>
                                    <div class="dash-cal-h-item dash-cal-h-item2" id="">
                                        <strong><input class="yearmonthsMoney" type="month" id="yearmonthsMoney2" value=""></strong>
                                    </div>
                                    <div class="">
                                        <a class="btn" id="fnUpMonth2">
                                            <i class="fas fa-chevron-right fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="operTitle-item" id="inBtnGroup"></div>
                            <form action="" method="get" id="pdf-form">
                                <input type="hidden" name="id" id="pdfid" value="">
                                <input type="hidden" name="date" id="pdfdate" value="">
                                <input type="hidden" name="ve" id="pdfve" value="">
                                <input type="hidden" name="name" id="pdname" value="">
                            </form>
                        </div>
                        <!-- <div class="insert-name"> <div class="insert-name-item"> <span>이름</span>
                        </div> <div class="insert-name-item" id="m-name"></div> <div
                        class="insert-name-item"> <span>생년월일</span> </div> <div class="insert-name-item"
                        id="m-bir"></div> <div class="insert-name-item"> <span>입사일</span> </div> <div
                        class="insert-name-item" id="m-ind"></div> </div> -->
                        <div style="padding: 0 1rem;">
                            <input type="hidden" id="m-id">
                            <input type="hidden" id="m-carn">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="15%"/>
                                    <col width="auto"/>
                                    <col width="15%"/>
                                    <col width="20%"/>
                                    <col width="15%"/>
                                    <col width="20%"/>
                                </colgroup>
                                <tr>
                                    <td>이름</td>
                                    <td id="m-name"></td>
                                    <td>생년월일</td>
                                    <td id="m-bir"></td>
                                    <td>입사일</td>
                                    <td id="m-ind"></td>
                                </tr>
                                <tr>
                                    <td>정기운행</td>
                                    <td colspan="5" id="m-reg" style="text-align: left; padding-left: 3rem;"></td>
                                </tr>
                            </table>
                        </div>

                        <div class="insert-cont-main">
                            <div class="insert-cont-item">
                                <div class="insert-cont-item-title1">
                                    <span>지급내역</span>
                                </div>
                                <form class="aaaadddd1" id="inForm">
                                    <div class="itttem1">
                                        <input
                                            type="number"
                                            min="1"
                                            max="31"
                                            tabindex="1"
                                            id="inp-cont1"
                                            class="form-control input-M"
                                            style="text-align: center;"
                                            data-type="currency"
                                            onfocus="this.select()"
                                            placeholder="날짜"
                                            value="1"
                                            disabled="disabled">
                                    </div>
                                    <div class="itttem1">
                                        <select class="form-control input-M" id="inp-cont2">
                                            <option value="경비">경비</option>
                                            <option value="수당">수당</option>
                                            <option value="기타">기타</option>
                                        </select>
                                    </div>
                                    <div class="itttem1">
                                        <input
                                            type="text"
                                            tabindex="2"
                                            id="inp-cont3"
                                            class="form-control input-M"
                                            autocomplete="off"
                                            onfocus="this.select()"
                                            placeholder="내용">
                                    </div>
                                    <div class="itttem1">
                                        <input
                                            type="text"
                                            tabindex="3"
                                            id="inp-cont4"
                                            class="form-control input-M"
                                            autocomplete="off"
                                            onfocus="this.select()"
                                            data-type="currency"
                                            placeholder="금액"
                                            value="0">
                                    </div>
                                    <a
                                        class="itttem1"
                                        id="insert-inM"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="입력">
                                        <i class="fas fa-plus-square"></i>
                                    </a>
                                </form>
                                <div class="insert-cont-item-cont inTb">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered ">
                                            <colgroup>
                                                <col width="8%"/>
                                                <col width="14%"/>
                                                <col width="15%"/>
                                                <col width="33%"/>
                                                <col width="20%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th>#</th>
                                                    <th>날짜</th>
                                                    <th>구분</th>
                                                    <th>내용</th>
                                                    <th>금액</th>
                                                    <th
                                                        class="cuor-p"
                                                        onclick="delTbInM()"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        title="모두 삭제">
                                                        <i class="fas fa-minus-square"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="emp-in-money-tb"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="insert-cont-item">
                                <div class="insert-cont-item-title2">
                                    <span>공제내역</span>
                                </div>
                                <form class="aaaadddd2" id="outForm">
                                    <div class="itttem2">
                                        <input
                                            type="number"
                                            min="1"
                                            max="31"
                                            tabindex="11"
                                            id="inp-cont11"
                                            class="form-control output-M"
                                            style="text-align: center;"
                                            data-type="currency"
                                            onfocus="this.select()"
                                            placeholder="날짜"
                                            value="1">
                                    </div>
                                    <div class="itttem2">
                                        <select class="form-control output-M" id="inp-cont12" autofocus="autofocus">
                                            <option value="기타" selected="selected">기타</option>
                                            <option value="운행">운행</option>
                                            <option value="보험료">보험료</option>
                                            <option value="세금">세금</option>
                                        </select>
                                    </div>
                                    <div class="itttem2">
                                        <input
                                            type="text"
                                            tabindex="12"
                                            id="inp-cont13"
                                            class="form-control output-M"
                                            autocomplete="off"
                                            onfocus="this.select()"
                                            placeholder="내용">
                                    </div>
                                    <div class="itttem2">
                                        <input
                                            type="text"
                                            tabindex="13"
                                            id="inp-cont14"
                                            class="form-control output-M"
                                            autocomplete="off"
                                            onfocus="this.select()"
                                            data-type="currency"
                                            placeholder="금액"
                                            value="0">
                                    </div>
                                    <a
                                        class="itttem2"
                                        id="insert-outM"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="입력">
                                        <i class="fas fa-plus-square"></i>
                                    </a>
                                </form>
                                <div class="insert-cont-item-cont outTb">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered ">
                                            <colgroup>
                                                <col width="8%"/>
                                                <col width="14%"/>
                                                <col width="15%"/>
                                                <col width="33%"/>
                                                <col width="20%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th class="hideTh"></th>
                                                    <th>#</th>
                                                    <th>날짜</th>
                                                    <th>구분</th>
                                                    <th>내용</th>
                                                    <th>금액</th>
                                                    <th
                                                        class="cuor-p"
                                                        onclick="delTbOutM()"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        title="모두 삭제">
                                                        <i class="fas fa-minus-square"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="emp-out-money-tb"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="moneyInsertEmp-End">
                        <div class="End-items">
                            <div class="End-items-in card-song inTb">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered ">
                                        <colgroup>
                                            <col width="40%"/>
                                            <col width="60%"/>
                                        </colgroup>
                                        <tr>
                                            <td>기본급</td>
                                            <td class="moneyininin"><input
                                                class="moneyinput"
                                                id="in-baseM"
                                                type="text"
                                                data-type="currency"
                                                onfocus="this.select()"></td>
                                        </tr>
                                        <tr>
                                            <td id="tdPer">운행수당</td>
                                            <td class="moneyininin">
                                                <div class="operDis">
                                                    <span id="in-operB">
                                                        <button class="btn" type="button" id="offAlloInBtn">
                                                            <i class="fa-solid fa-ellipsis"></i>
                                                        </button>
                                                    </span>
                                                    <span id="in-operC"></span>
                                                    <span id="in-operM"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>운행경비</td>
                                            <td class="moneyininin">
                                                <span id="in-goM"></span></td>
                                        </tr>
                                        <tr>
                                            <td>기타수당</td>
                                            <td class="moneyininin">
                                                <span id="in-gisuM"></span></td>
                                        </tr>
                                        <tr>
                                            <td>기타</td>
                                            <td class="moneyininin">
                                                <span id="in-gitaM"></span></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered "
                                        style="margin-top: 2rem; font-size: 1.5rem;">
                                        <colgroup>
                                            <col width="40%"/>
                                            <col width="60%"/>
                                        </colgroup>
                                        <tr class="moneys">
                                            <td>지급총액</td>
                                            <td class="moneyininin">
                                                <span id="in-inAllM"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="End-items-out card-song outTb">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered ">
                                        <colgroup>
                                            <col width="40%"/>
                                            <col width="60%"/>
                                        </colgroup>
                                        <tr>
                                            <td>4대보험</td>
                                            <td class="moneyininin">
                                                <span id="out-sadea"></span></td>
                                        </tr>
                                        <tr>
                                            <td>기타공제</td>
                                            <td class="moneyininin">
                                                <span id="out-gitaM"></span></td>
                                        </tr>
                                        <tr>
                                            <td>세금</td>
                                            <td class="moneyininin">
                                                <span id="out-saeM"></span></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="moneyininin">
                                                <span id=""></span></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="moneyininin">
                                                <span id=""></span></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered "
                                        style="margin-top: 2rem; font-size: 1.5rem;">
                                        <colgroup>
                                            <col width="40%"/>
                                            <col width="60%"/>
                                        </colgroup>
                                        <tr class="moneys">
                                            <td>공제총액</td>
                                            <td class="moneyininin">
                                                <span id="out-outAllM"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="End-items card-song">
                            <div class="table-responsive" style="width: 100%;">
                                <table class="table table-striped table-bordered ">
                                    <colgroup>
                                        <col width="50%"/>
                                        <col width="50%"/>
                                    </colgroup>
                                    <tr class="moneys" style="font-size: 1.5rem;">
                                        <td>실지급액</td>
                                        <td class="moneyininin">
                                            <span id="AllM"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="offcanvas offcanvas-bottom"
                data-bs-scroll="true"
                data-bs-backdrop="false"
                tabindex="-1"
                id="oper3"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h3 id="oper3Label"></h3>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body-regOper">
                    <div class="main-EmpReg-main">
                        <table class="table table-bordered table-striped tbEmpRegAllo">
                            <colgroup>
                                <col width="5%"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                            </colgroup>
                            <thead id="thDays"></thead>
                            <tbody id="tbAllo"></tbody>
                            <tfoot id="tfBtn"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div
                class="offcanvas offcanvas-end"
                data-bs-scroll="true"
                data-bs-backdrop="false"
                tabindex="-1"
                id="offAlloIn"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h3 id="offAlloInLabel"></h3>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body-regOper">
                    <div class="main-EmpAllo-main">
                        <div class="offAll1">
                            <div class="offAll1-item">
                                <h3>일반운행 목록</h3>
                            </div>
                            <div class="offAll1-item">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="table-scroll-head-inner">
                                            <table class="table table-bordered table-striped tbEmpRegAllo">
                                                <colgroup>
                                                    <col width="5%"/>
                                                    <col width="20%"/>
                                                    <col width="30%"/>
                                                    <col width="30%"/>
                                                    <col width="15%"/>
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>운행일</th>
                                                        <th>목적지</th>
                                                        <th>출발지</th>
                                                        <th>금액</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-scroll-body-Emp-off">
                                    <table class="table table-bordered table-striped tbEmpRegAllo">
                                        <colgroup>
                                            <col width="5%"/>
                                            <col width="20%"/>
                                            <col width="30%"/>
                                            <col width="30%"/>
                                            <col width="15%"/>
                                        </colgroup>
                                        <tbody id="offAlloInTb"></tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="table-scroll-head-inner">
                                            <table class="table table-bordered table-striped tbEmpRegAllo">
                                                <colgroup>
                                                    <col width="5%"/>
                                                    <col width="20%"/>
                                                    <col width="30%"/>
                                                    <col width="30%"/>
                                                    <col width="15%"/>
                                                </colgroup>
                                                <tfoot>
                                                    <td colspan="2">합 계</td>
                                                    <td id="offEmpOperMCnt"></td>
                                                    <td colspan="2" class="tdRight" id="offEmpOperMAll"></td>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offAll2">
                            <div class="offAll2-item">
                                <h3>정기운행 목록</h3>
                            </div>
                            <div class="offAll2-item ">
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="table-scroll-head-inner">
                                            <table class="table table-bordered table-striped tbEmpRegAllo">
                                                <colgroup>
                                                    <col width="5%"/>
                                                    <col width="20%"/>
                                                    <col width="30%"/>
                                                    <col width="30%"/>
                                                    <col width="15%"/>
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>운행일</th>
                                                        <th>회사</th>
                                                        <th>노선</th>
                                                        <th>금액</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-scroll-body-Emp-off">
                                    <table class="table table-bordered table-striped tbEmpRegAllo">
                                        <colgroup>
                                            <col width="5%"/>
                                            <col width="20%"/>
                                            <col width="30%"/>
                                            <col width="30%"/>
                                            <col width="15%"/>
                                        </colgroup>
                                        <tbody id="offAlloRegInTb"></tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                                <div class="table-scroll">
                                    <div class="table-scroll-head">
                                        <div class="table-scroll-head-inner">
                                            <table class="table table-bordered table-striped tbEmpRegAllo">
                                                <colgroup>
                                                    <col width="5%"/>
                                                    <col width="20%"/>
                                                    <col width="30%"/>
                                                    <col width="30%"/>
                                                    <col width="15%"/>
                                                </colgroup>
                                                <tfoot>
                                                    <td colspan="2">합 계</td>
                                                    <td id="offEmpRegMCnt"></td>
                                                    <td colspan="2" class="tdRight" id="offEmpRegMAll"></td>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="dashboard/dashboardBottom :: main-bottom"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const user =/*[[${user}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${company}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
        </script>
        <th:block th:replace="layout/linkGroupScript :: linkScript"></th:block>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/employee/empOper.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/employee/empMoneyInsert.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/employee/empMoneyInsertGetM.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/employee/empMoneyInsertSumM.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainHomeCell.js?v=2020051201"></script>
    </body>
</html>