<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="emp-oper" class="operEmp">
        <div class="veOperMain">
            <h3>운행내역</h3>
            <div class="accordion" id="accordionPanelsOper">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="panelsStayHead-1">
                        <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-1"
                            aria-expanded="true"
                            aria-controls="panelsStayOpen-1">
                            <div class="veOperTitle"></div>
                        </button>
                    </h4>
                    <div
                        id="panelsStayOpen-1"
                        class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayHead-1">
                        <div class="accordion-body table-responsive">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="18%">
                                    <col width="26%">
                                    <col width="26%">
                                    <col width="15%">
                                    <col width="15%">
                                </colgroup>
                                <thead class="table-light">
                                    <tr>
                                        <th>날짜</th>
                                        <th>고객정보</th>
                                        <th>목적지</th>
                                        <th>대당금액</th>
                                        <th>배차금액</th>
                                    </tr>
                                </thead>
                                <tbody id=""></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>