<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="admin-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>관리자 설정</title>

        <th:block th:replace="layout/linkGroupCss :: linkCss"></th:block>
        <link rel="stylesheet" href="/css/adminCss/adminSide.css?v=2020051201">
        <link rel="stylesheet" href="/css/adminCss/admin.css?v=2020051201">
        <link rel="stylesheet" href="/css/adminCss/adminStats1.css?v=2020051201">
        <link rel="stylesheet" href="/css/adminCss/adminStats2.css?v=2020051201">
        <link rel="stylesheet" href="/css/adminCss/adminMDVeCompa.css?v=2020051201">
    </head>