<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- Modal -->
    <div
        th:fragment="ve-MD-reg"
        class="modal fade"
        id="modal-reg"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-reg-mh"></h3>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body mdb-reg">
                    <div class="mdb-reg-item">
                        <iframe class="mdb-reg-item-a" src="" frameborder="0" id="reg-frame"></iframe>
                    </div>
                    <div class="mdb-reg-item">
                        <label class="file-la" for="reg-selector">PDF 파일선택<i class="fas fa-file-upload"></i>
                        </label>
                        <form id="form-reg">
                            <input
                                type="file"
                                accept=".pdf"
                                name="uploadfile"
                                id="reg-selector"
                                style="display: none;">
                            <input type="hidden" id="regcarn" name="regcarn" value="">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫&nbsp;기</button>
                    <button type="button" class="btn btn-primary" id="reg-insert">입&nbsp;력</button>
                </div>
            </div>
        </div>
    </div>