<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="ve-oper" class="operVe">
        <div class="veOperMain">
            <h3>운행내역</h3>
            <div class="accordion" id="accordionPanelsOper">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="panelsStayHead-1">
                        <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-1"
                            aria-expanded="true"
                            aria-controls="panelsStayOpen-1">
                            <div class="veOperTitle"></div>
                        </button>
                    </h4>
                    <div
                        id="panelsStayOpen-1"
                        class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayHead-1">
                        <div class="accordion-body table-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>