<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body1">
        <header th:replace="dashboard/dashboardMainHead :: main-head"></header>
        <aside th:replace="dashboard/dashboardMainAside :: main-aside"></aside>
        <main class="main">
            <div class="tab-pane" role="tabpanel">
                <div class="dd-main-nav">
                    <div th:replace="dashboard/dashboardMainDay :: main-day"></div>
                    <!-- <div th:replace="dashboard/dashboardMainNav :: main-nav"></div> -->
                </div>

                <div class="tab-content tab-cont">
                    <div
                        th:insert="dashboard1/mainHome :: main-home"
                        class="tab-pane fade show active"
                        id="home"
                        role="tabpanel"
                        aria-labelledby="pills-home-tab"></div>
                </div>
            </div>
        </main>
        <div th:replace="dashboard/dashboardBottom :: main-bottom"></div>
        <div th:replace="openTemplates/modalAllo2 :: modalAllo2"></div>
        <div th:replace="openTemplates/modalOne :: modalOne"></div>
        <div th:replace="openTemplates/modaNewRsvt :: mainNewrsvt"></div>
        <div th:replace="openTemplates/modalSetting :: mdSetting"></div>
        <div th:replace="openTemplates/modalCustomer :: modalCust"></div>
        <div th:replace="openTemplates/modalCustomerUp :: modalCustUp"></div>
        <div th:replace="openTemplates/makePaperModal :: modalPaper0"></div>
        <div th:replace="openTemplates/makePaperModal :: modalPaper1"></div>
        <div th:replace="openTemplates/makePaperModal :: modalPaper2"></div>
        <div th:replace="openTemplates/modalRsvt :: modalRsvt"></div>
        <div th:replace="openTemplates/modalRsvtOper :: modalRsvtOper"></div>
        <div th:replace="openTemplates/dataVeEmp :: dataVeEmp"></div>
        <div th:replace="openTemplates/checkAlloVe :: offAlloVe"></div>
        <th:block th:replace="layout/linkGroupScript :: linkScript"></th:block>
        <th:block th:replace="dashboard/dashlinkGroupScript :: dashLinkScript"></th:block>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/openTemplates/checkAlloVe.js?v=2020051201"></script>
    </body>
</html>