<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.employee.mapper.EmployeeMapper">

	<sql id="empMoneyColumns">
		no, sday, id, separation, date, contents, money, strash
	</sql>

	<select id="selectOperMoney" parameterType="com.garam.web.employee.dto.EmpRsvtDTO"
		resultType="com.garam.web.employee.dto.EmpRsvtDTO">
		SELECT

		DISTINCT(operation_info.opernum),

		operation_info.atlm
		FROM operation_info

		WHERE

		operation_info.operid =
		#{operid}

		AND

		operation_info.operconfirm = #{operconfirm}

		AND

		operation_info.opertrash != #{opertrash}
	</select>
	<select id="selectRegOperMoney" parameterType="com.garam.web.employee.dto.EmpRsvtDTO"
		resultType="com.garam.web.employee.dto.EmpRsvtDTO">
		SELECT

		DISTINCT(operation_info.opernum),

		operation_info.atlm
		FROM operation_info

		WHERE

		operation_info.operid =
		#{operid}

		AND

		operation_info.operconfirm = #{operconfirm}

		AND

		operation_info.opertrash != #{opertrash}
	</select>

	<select id="SelectEmpBaseMoney" parameterType="com.garam.web.employee.dto.EmployeeInfoDTO"
		resultType="com.garam.web.employee.dto.EmployeeInfoDTO">

		SELECT

		basem, kukm, gunm, gom, sanm

		FROM

		employeeinfo

		WHERE

		employeeinfo.id = #{id}
	</select>

	<update id="empUpOper" parameterType="java.util.HashMap">

		<foreach collection="upoper" item="value" index="index" separator=";">

			UPDATE

			operation_info

			SET

			operconfirm =
			#{value.operconfirm},
			opertrash = #{value.opertrash}

			WHERE

			opernum = #{value.opernum}

			AND

			operno = #{value.operno}

			AND

			opertype = #{value.opertype}

			AND

			operid =
			#{value.operid}

			AND

			opercar
			= #{value.opercar}
		</foreach>
	</update>

	<update id="updateRegOper1" parameterType="com.garam.web.regular.dto.RegularDTO">

		UPDATE

		operation_reg

		SET

		regopertrash = 0

		WHERE

		regoperconfirm =
		#{regoperconfirm}

		AND

		regoperid =
		#{regoperid}

	</update>
	<update id="empUpOper2" parameterType="com.garam.web.employee.dto.EmpRsvtDTO">

		UPDATE

		operation_info

		SET

		opertrash = 0

		WHERE

		operconfirm =
		#{operconfirm}

		AND

		operid = #{operid}
	</update>

	<update id="updateRegOper" parameterType="com.garam.web.regular.dto.RegularDTO">

		UPDATE

		operation_reg

		SET

		<if test="regopertrash != null and regopertrash != ''">
			regopertrash =
			#{regopertrash},
		</if>

		regoperconfirm =
		#{regoperconfirm},


		regoperatlm =
		#{regoperatlm}

		WHERE

		regopernum =
		#{regopernum}

		AND

		regoperid =
		#{regoperid}
	</update>
	<update id="updateRegOper2" parameterType="com.garam.web.regular.dto.RegularDTO">

		UPDATE

		operation_reg

		SET

		<if test="regopertrash != null and regopertrash != ''">
			regopertrash =
			#{regopertrash},
		</if>

		regoperconfirm =
		#{regoperconfirm},


		regoperatlm =
		#{regoperatlm}

		WHERE

		operregseq =
		#{operregseq}

	</update>

	<update id="updateEmpMoneys" parameterType="com.garam.web.employee.dto.EmployeeInfoDTO">

		UPDATE

		employeeinfo

		SET

		employeeinfo.basem = #{basem},
		employeeinfo.kukm
		= #{kukm},
		employeeinfo.gunm = #{gunm},
		employeeinfo.gom = #{gom},
		employeeinfo.sanm = #{sanm}

		WHERE

		employeeinfo.id =
		#{id}


	</update>

	<select id="selInMoney" parameterType="com.garam.web.employee.dto.Empsalary"
		resultType="com.garam.web.employee.dto.Empsalary">

		SELECT

		*

		FROM

		personnalplus

		WHERE

		personnalplus.id = #{id}

		AND

		personnalplus.sday = #{sday}
	</select>
	<select id="selOutMoney" parameterType="com.garam.web.employee.dto.Empsalary"
		resultType="com.garam.web.employee.dto.Empsalary">

		SELECT

		*

		FROM

		personnalminus

		WHERE

		personnalminus.id = #{id}

		AND

		personnalminus.sday = #{sday}
	</select>

	<select id="selRegOperList" parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		operation_reg.*

		FROM

		operation_reg

		WHERE

		operation_reg.regoperid =
		#{regoperid}

		AND

		operation_reg.regoperday
		BETWEEN
		#{regstartd} AND
		#{regendd}

		GROUP BY
		operation_reg.conum,
		operation_reg.codenum

		ORDER BY
		operation_reg.regoperday,
		operation_reg.regoperno
	</select>
	<select id="selEmpRegOperList" parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		operation_reg.*

		FROM

		operation_reg

		WHERE

		operation_reg.regoperid =
		#{regoperid}

		AND

		operation_reg.regoperday
		BETWEEN
		#{regstartd} AND
		#{regendd}

		GROUP BY
		operation_reg.conum,
		operation_reg.codenum

		ORDER BY
		operation_reg.operregseq,
		operation_reg.regoperday
	</select>
	<select id="selEmpRegOperList1" parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		*

		FROM

		regularcourse

		WHERE

		regularcourse.conum = #{conum}
		AND
		regularcourse.codenum = #{codenum}

		GROUP BY
		regularcourse.goutnum

		ORDER BY
		regularcourse.rct, regularcourse.goutnum
	</select>

	<select id="selEmpRegOperList2" parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		operation_reg.*,
		regular.*,
		regulardetail.*,

		IFNULL((SELECT
		vehicleinfo.vehicle
		FROM
		vehicleinfo
		WHERE
		vehicleinfo.carnumber
		=
		operation_reg.regopercar),
		operation_reg.regopercar) AS
		idvehicle,

		IFNULL((SELECT
		vehicleinfo.id
		FROM
		vehicleinfo
		WHERE
		vehicleinfo.carnumber
		=
		operation_reg.regopercar),
		operation_reg.regopercar) AS
		idid,

		IFNULL((SELECT
		employeeinfo.name
		FROM
		employeeinfo
		WHERE
		employeeinfo.id
		=
		operation_reg.regoperid),
		operation_reg.regoperid) AS
		idname

		FROM

		operation_reg

		LEFT JOIN

		regular

		ON

		operation_reg.conum = regular.conum

		LEFT JOIN

		regulardetail

		ON

		operation_reg.codenum =
		regulardetail.codenum

		WHERE

		operation_reg.regoperid =
		#{regoperid}

		AND

		operation_reg.regoperday
		BETWEEN
		#{regstartd} AND
		#{regendd}

		ORDER BY
		operation_reg.regoperday,
		regulardetail.rdnum,
		operation_reg.operregseq

	</select>

	<select id="selectEmpAllAllo" parameterType="com.garam.web.employee.dto.EmpRsvtDTO"
		resultType="com.garam.web.employee.dto.EmpRsvtDTO">

		SELECT
		rsvt.rsvtseq, rsvt.desty, rsvt.stday, rsvt.endday,
		operation_info.operseq,
		operation_info.opernum,
		operation_info.rsvt,
		operation_info.operday,
		operation_info.operno,
		rsvt.numm,
		operation_info.atlm,
		operation_info.opertype,
		operation_info.operid,
		operation_info.opercar,
		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		operation_info.opercar),
		operation_info.opercar)
		AS
		vehicle,
		(SELECT
		customer.ctmname FROM
		customer
		WHERE
		customer.ctmno
		=
		rsvt.ctmno)
		AS
		ctmname,
		operation_info.operconfirm,
		operation_info.opertrash

		FROM

		operation_info
		left
		join rsvt on
		operation_info.rsvt =
		rsvt.rsvt

		WHERE

		operation_info.operid =
		#{operid}

		AND

		operation_info.operconfirm = #{operconfirm}

		AND

		operation_info.dayst
		=
		1

		ORDER BY
		rsvt.stday,
		operation_info.opernum,
		operation_info.operday,
		rsvt.stt;

	</select>

	<select id="selectEmpAllAllo1" parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		operation_reg.*,
		regular.*,
		regulardetail.*,

		IFNULL((SELECT
		vehicleinfo.vehicle
		FROM
		vehicleinfo
		WHERE
		vehicleinfo.carnumber
		=
		operation_reg.regopercar),
		operation_reg.regopercar) AS
		idvehicle,

		IFNULL((SELECT
		vehicleinfo.id
		FROM
		vehicleinfo
		WHERE
		vehicleinfo.carnumber
		=
		operation_reg.regopercar),
		operation_reg.regopercar) AS
		idid,

		IFNULL((SELECT
		employeeinfo.name
		FROM
		employeeinfo
		WHERE
		employeeinfo.id
		=
		operation_reg.regoperid),
		operation_reg.regoperid) AS
		idname,

		IFNULL((SELECT
		regularcourse.rcsepa
		FROM
		regularcourse
		WHERE
		regularcourse.conum
		=
		operation_reg.conum
		AND
		regularcourse.codenum
		=
		operation_reg.codenum
		AND
		regularcourse.goutnum
		=
		operation_reg.regoperno
		GROUP BY
		operation_reg.regoperno
		),
		operation_reg.regoperid) AS
		rcsepa

		FROM

		operation_reg

		LEFT JOIN

		regular

		ON

		operation_reg.conum =
		regular.conum

		LEFT JOIN

		regulardetail

		ON

		operation_reg.codenum = regulardetail.codenum

		WHERE

		operation_reg.regoperid =
		#{regoperid}

		AND

		operation_reg.regoperconfirm =
		#{regoperconfirm}

		ORDER BY
		operation_reg.regoperday,
		regulardetail.rdnum,
		operation_reg.operregseq
	</select>

	<select id="selAllMoney" parameterType="com.garam.web.employee.dto.EmpsalaryAll"
		resultType="com.garam.web.employee.dto.EmpsalaryAll">

		SELECT

		*

		FROM

		personnalsalary

		WHERE

		personnalsalary.id = #{id}

		AND

		personnalsalary.date = #{date}
	</select>
	<delete id="delInM" parameterType="com.garam.web.employee.dto.Empsalary">
		DELETE FROM

		personnalplus

		WHERE

		personnalplus.id = #{id}

		AND

		personnalplus.sday =
		#{sday};
	</delete>
	<delete id="delOutM" parameterType="com.garam.web.employee.dto.Empsalary">
		DELETE FROM

		personnalminus

		WHERE

		personnalminus.id =
		#{id}

		AND

		personnalminus.sday
		= #{sday};
	</delete>

	<insert id="insertInM" parameterType="java.util.HashMap">
		INSERT

		INTO

		personnalplus
		(
		<include refid="empMoneyColumns" />
		)
		VALUES

		<foreach collection="imM" item="value" separator=",">
			(
			null,
			#{value.sday},
			#{value.id},
			#{value.separation},
			#{value.date},
			#{value.contents},
			#{value.money},
			#{value.strash}
			)
		</foreach>
	</insert>
	<insert id="insertOutM" parameterType="java.util.HashMap">
		INSERT

		INTO

		personnalminus
		(
		<include refid="empMoneyColumns" />
		)
		VALUES

		<foreach collection="outM" item="value" separator=",">
			(
			null,
			#{value.sday},
			#{value.id},
			#{value.separation},
			#{value.date},
			#{value.contents},
			#{value.money},
			#{value.strash}
			)
		</foreach>
	</insert>

	<insert id="insertAllMoney" parameterType="com.garam.web.employee.dto.EmpsalaryAll">

		INSERT INTO

		personnalsalary

		(salno,
		id,
		carnumber,
		date,
		per,
		opercnt,
		opermoney,
		inm,
		outm,
		empin,
		datein,
		strash)

		VALUES

		(null,
		#{id},
		#{carnumber},
		#{date},
		#{per},
		#{opercnt},
		#{opermoney},
		#{inm},
		#{outm},
		#{empin},
		NOW(),
		1);
	</insert>
</mapper>