:root {
    --main-color: #101820;
    --sub-color: #F2AA4C;
    --font-color: #ffffff;
    --color-datk: #1D2231;
    --text-grey: #8390A2;
    --side-size: 250px;
    --table-ch:color: #337ab7;
}