<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.calendar.mapper.CalendarMapper">

	<select id="selectCalendarEvent"
		parameterType="com.garam.calendar.domain.CalendarDTO"
		resultType="com.garam.calendar.domain.CalendarDTO">

		SELECT

		*

		FROM

		cal

		WHERE

		solarcal

		BETWEEN

		#{stD} AND #{endD}

	</select>

</mapper>

