<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="linkScript">
        <script
            language="javascript"
            type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/boot/bootstrap.bundle.js"></script>
        <script language="javascript" type="text/javascript" src="/js/boot/all.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/common.js?v=2020051201"></script>
    </th:block>
</html>