<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div
        th:fragment="offAlloVe"
        class="offcanvas offcanvas-end"
        data-bs-scroll="true"
        data-bs-backdrop="false"
        tabindex="-1"
        id="offAlloVe"
        aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-body offAlloVeBd">
            <div class="veCompa">
                <div>
                    <span>회사</span>
                    <span id="compaTiCnt"></span>
                </div>
                <div class="offAlloVeCont">
                    <div class="offBuss offAlloVeCont45" id="offAlloCompa45">
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999
                            </button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45 text-decoration-line-through">9999
                            </button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45 text-decoration-line-through">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45 text-decoration-line-through">9999
                            </button>
                        </div>
                        <div class="buss buss45">
                            <del>
                                <button type="button" class="btn btn-outline-45 text-decoration-line-through">
                                    9999
                                </button>
                            </del>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                    </div>
                    <div class="offBuss offAlloVeCont25" id="offAlloCompa25">
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                    </div>
                    <div class="offBuss offAlloVeCont28" id="offAlloCompa28">
                        <div class="buss buss28">
                            <button type="button" class="btn btn-outline-28">9999</button>
                        </div>
                        <div class="buss buss28">
                            <button type="button" class="btn btn-outline-28">9999</button>
                        </div>
                        <div class="buss buss28">
                            <button type="button" class="btn btn-outline-28">9999</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="veCompa">
                <div>
                    <span>개인</span>
                    <span id="perTiCnt"></span>
                </div>
                <div class="offAlloVeCont">
                    <div class="offBuss offAlloVeCont45" id="offAlloPer45">
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                        <div class="buss buss45">
                            <button type="button" class="btn btn-outline-45">9999</button>
                        </div>
                    </div>
                    <div class="offBuss offAlloVeCont25" id="offAlloPer25">
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                        <div class="buss buss25">
                            <button type="button" class="btn btn-outline-25">9999</button>
                        </div>
                    </div>
                    <div class="offBuss offAlloVeCont28" id="offAlloPer28">
                        <div class="buss buss28">
                            <button type="button" class="btn btn-outline-28">9999</button>
                        </div>
                        <div class="buss buss28">
                            <button type="button" class="btn btn-outline-28">9999</button>
                        </div>
                        <div class="buss buss28">
                            <button type="button" class="btn btn-outline-28">9999</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>