<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div
        th:fragment="modalCust"
        class="modal fade"
        id="modalCustom"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div
                    class="modal-body"
                    style="display: flex; flex-direction: column; gap: 2rem;">
                    <input type="hidden" id="ctmlseqqq" value="">
                    <div style="display: flex; flex-direction: row; gap: 2rem;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            width="3rem"
                            height="3rem"
                            viewbox="0 0 256 256"
                            xml:space="preserve">
                            <desc>Created with Fabric.js 1.7.22</desc>
                            <defs></defs>
                            <g transform="translate(128 128) scale(0.72 0.72)" style="">
                                <g
                                    style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                                    transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)">
                                    <circle
                                        cx="45"
                                        cy="45"
                                        r="45"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(32,196,203); fill-rule: nonzero; opacity: 1;"
                                        transform="  matrix(1 0 0 1 0 0) "/>
                                    <path
                                        d="M 42.069 49.419 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 c 5.512 0 9.997 -4.485 9.997 -9.997 s -4.484 -9.997 -9.997 -9.997 s -9.997 4.485 -9.997 9.997 c 0 1.657 -1.343 3 -3 3 s -3 -1.343 -3 -3 c 0 -8.821 7.176 -15.997 15.997 -15.997 c 8.821 0 15.997 7.176 15.997 15.997 S 50.89 49.419 42.069 49.419 z"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(27,167,173); fill-rule: nonzero; opacity: 1;"
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"/>
                                    <path
                                        d="M 42.069 58.227 c -1.657 0 -3 -1.343 -3 -3 V 44.2 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 11.026 C 45.069 56.884 43.726 58.227 42.069 58.227 z"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(27,167,173); fill-rule: nonzero; opacity: 1;"
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"/>
                                    <path
                                        d="M 44.931 57.583 c -1.657 0 -3 -1.343 -3 -3 V 43.557 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 11.026 C 47.932 56.24 46.588 57.583 44.931 57.583 z"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"/>
                                    <path
                                        d="M 44.931 46.557 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 c 5.512 0 9.997 -4.485 9.997 -9.997 s -4.484 -9.997 -9.997 -9.997 s -9.997 4.485 -9.997 9.997 c 0 1.657 -1.343 3 -3 3 s -3 -1.343 -3 -3 c 0 -8.821 7.176 -15.997 15.997 -15.997 s 15.997 7.176 15.997 15.997 S 53.752 46.557 44.931 46.557 z"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                        transform=" matrix(1 0 0 1 0 0) "
                                        stroke-linecap="round"/>
                                    <circle
                                        cx="42.065"
                                        cy="71.89500000000001"
                                        r="5.665"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(27,167,173); fill-rule: nonzero; opacity: 1;"
                                        transform="  matrix(1 0 0 1 0 0) "/>
                                    <circle
                                        cx="44.935"
                                        cy="69.035"
                                        r="5.665"
                                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                        transform="  matrix(1 0 0 1 0 0) "/>
                                </g>
                            </g>
                        </svg>
                        <div>
                            <h3 style="margin: 0;">
                                <p style="margin-bottom: 1rem;">유사한 고객정보가 존재합니다.</p>
                                <p style="margin-bottom: 1rem;">아래 '저장된 정보'를 선택한 후 '버튼'을 눌러</p>
                                <p style="margin-bottom: 1rem;">새로운 고객으로 입력하거나 기존고객으로 입력해주세요.</p>
                            </h3>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4 style="text-align: left; margin-bottom: 1rem;">입력한 신규 고객 정보</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <colgroup>
                                    <col width="10%">
                                    <col width="60%">
                                    <col width="30%">
                                </colgroup>
                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>이름</th>
                                        <th>연락처</th>
                                    </tr>
                                </thead>
                                <tbody id="tbIncust1"></tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4 style="text-align: left; margin-bottom: 1rem;">저장된 기존 고객 정보</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered table-sortable">
                                <colgroup>
                                    <col width="10%">
                                    <col width="60%">
                                    <col width="30%">
                                </colgroup>
                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>이름</th>
                                        <th>연락처</th>
                                    </tr>
                                </thead>
                                <tbody id="tbIncust"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div
                    class="modal-footer"
                    style="display: flex; flex-direction: row; justify-content: space-between;">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        style="width: 8rem;">입력취소</button>
                    <button type="button" class="btn btn-primary" id="inNew" style="width: 16rem;">입력</button>
                </div>
            </div>
        </div>
    </div>
</html>