<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div
        th:fragment="offCustomer"
        class="offcanvas offcanvas-bottom"
        data-bs-scroll="true"
        data-bs-backdrop="false"
        tabindex="-1"
        id="offCustomer"
        aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h3>
            <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body offCustomBody">
            <div class="offCustomBody-item card-song"></div>
            <div class="offCustomBody-item card-song">
                <div class="nomal-aside-search offCustomBodySearch">
                    <div class="hd-search1">
                        <div class="hd-serach-group">
                            <div class="hd-search-icon">
                                <i class=" fas fa-search"></i>
                            </div>
                            <input
                                type="text"
                                id="emp-search"
                                autocomplete="off"
                                oninput="setTableC(this.value)"
                                placeholder="검색"
                                control-id="ControlID-3">
                            <button id="offCbtn-x" control-id="ControlID-4">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="offCustomBodyUi">
                    <ul class="nav nav-pills nav-justified home-nav" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link active"
                                id="normal-title"
                                data-bs-toggle="pill"
                                data-bs-target="#normalC"
                                type="button"
                                role="tab"
                                aria-controls="pills-home"
                                aria-selected="false"
                                control-id="ControlID-10">일반&nbsp;<span id="nBC" class="badge bg-secondary">0</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="school-title"
                                data-bs-toggle="pill"
                                data-bs-target="#schoolC"
                                type="button"
                                role="tab"
                                aria-controls="pills-school"
                                aria-selected="false"
                                control-id="ControlID-11">학생단체&nbsp;<span id="sBC" class="badge bg-secondary">0</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="account-title"
                                data-bs-toggle="pill"
                                data-bs-target="#accountC"
                                type="button"
                                role="tab"
                                aria-controls="pills-account"
                                aria-selected="true"
                                control-id="ControlID-12">거래처&nbsp;<span id="aBC" class="badge bg-secondary">0</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="empC-title"
                                data-bs-toggle="pill"
                                data-bs-target="#empC"
                                type="button"
                                role="tab"
                                aria-controls="pills-empC"
                                aria-selected="true"
                                control-id="ControlID-12">거래처&nbsp;<span id="eBC" class="badge bg-secondary">0</span></button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content offCustomBodyCont scBar">
                    <div
                        class="tab-pane fade show active"
                        id="normalC"
                        role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered home-tb table-sm">
                                <colgroup>
                                    <col width="5%"/>
                                    <col width="30%"/>
                                    <col width="30%"/>
                                    <col width="35%"/>
                                </colgroup>

                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>이름</th>
                                        <th>연락처</th>
                                        <th>주소</th>
                                    </tr>
                                </thead>
                                <tbody id="offCustom-tb-normal"></tbody>
                            </table>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="schoolC"
                        role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered home-tb table-sm">
                                <colgroup>
                                    <col width="5%"/>
                                    <col width="30%"/>
                                    <col width="35%"/>
                                    <col width="30%"/>
                                </colgroup>

                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>학교</th>
                                        <th>주소</th>
                                        <th>홈페이지</th>
                                    </tr>
                                </thead>
                                <tbody id="offCustom-tb-school"></tbody>
                            </table>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="accountC"
                        role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered home-tb table-sm">
                                <colgroup>
                                    <col width="5%"/>
                                    <col width="30%"/>
                                    <col width="30%"/>
                                    <col width="35%"/>
                                </colgroup>

                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>거래처</th>
                                        <th>연락처</th>
                                        <th>담당자...</th>
                                    </tr>
                                </thead>
                                <tbody id="offCustom-tb-account"></tbody>
                            </table>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="empC"
                        role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered home-tb table-sm">
                                <colgroup>
                                    <col width="5%"/>
                                    <col width="30%"/>
                                    <col width="30%"/>
                                    <col width="35%"/>
                                </colgroup>

                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>직급</th>
                                        <th>이름</th>
                                        <th>연락처</th>
                                    </tr>
                                </thead>
                                <tbody id="offCustom-tb-emp"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offCustomBody-item card-song">
                <form class="rsvt-form" id="formCutomerIn2" autocomplete="off">
                    <input type="hidden" name="ctmno" id="ctmnoC" value="">
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-12">
                            <h4 style="text-align: left;">
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="ctmsepa"
                                        value="0"
                                        checked="checked">
                                    <label class="form-check-label">일반</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="ctmsepa" value="1">
                                    <label class="form-check-label">학생단체</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="ctmsepa" value="2">
                                    <label class="form-check-label">거래처</label>
                                </div>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <i class="fa-solid fa-user-tie"></i>
                            <label for="ctmnameC">이름&#42;</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmname"
                                id="ctmnameC"
                                placeholder="이름을 입력해주세요."
                                value=""
                                required="required">
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-phone-alt"></i>
                            <label for="tel1C">연락처&#42;</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmtel1"
                                id="tel1C"
                                placeholder="전화번호 형식으로 입력"
                                value=""
                                required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-map-marker-alt"></i>
                            <label for="ctmstpC">출발지</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmstp"
                                id="ctmstpC"
                                placeholder="출발지가 고정된 예약자일 경우 입력"></input>
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-pen"></i>
                            <label for="ctmdetailC">메모</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmdetail"
                                id="ctmdetailC"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-phone-alt"></i>
                            <label for="ctmtel2C">비상연락처</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmtel2"
                                id="ctmtel2C"
                                placeholder="010-0000-0000">
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-map"></i>
                            <label for="ctmaddressC">주소</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmaddress"
                                id="ctmaddressC"
                                placeholder="주소를 입력해주세요.">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="far fa-envelope"></i>
                            <label for="ctmemailC">이메일</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmemail"
                                id="ctmemailC"
                                placeholder="mail@mail.com">
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="far fa-building"></i>
                            <label for="ctmcompanumC">사업자등록번호</label>
                            <input
                                type="email"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmcompanum"
                                id="ctmcompanumC"
                                placeholder="사업자등록번호 형식으로 입력해주세요.">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-fax"></i>
                            <label for="ctmfaxC">팩스</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmfax"
                                id="ctmfaxC"
                                placeholder="팩스 번호를 입력해주세요.">
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <i class="fas fa-home"></i>
                            <label for="ctmhomepageC">홈페이지</label>
                            <input
                                type="text"
                                onfocus="this.select()"
                                class="form-control"
                                name="ctmhomepage"
                                id="ctmhomepageC"
                                placeholder="홈페이지 주소를 입력해주세요.">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-lg-6" style="text-align: left;">
                            <button type="button" class="btn btn-secondary">지우기</button>
                        </div>
                        <div class="form-group col-xs-6 col-lg-6" style="text-align: right;">
                            <button type="button" class="btn btn-primary" id="btn-custom-modal">입&nbsp;력</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>