<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-search">
        <header th:replace="dashboard/dashboardMainHead :: main-head"></header>
        <aside th:replace="dashboard/dashboardMainAside :: main-aside"></aside>
        <main class="main">
            <div class="tab-pane" role="tabpanel">
                <div class="dd-main-nav">
                    <div th:replace="dashboard/dashboardMainDay :: main-day"></div>
                    <div th:replace="dashboard/dashboardMainNav :: main-nav"></div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content tab-cont">
                    <div
                        th:replace="dashSearch/mainSearch :: main-search"
                        id="search"
                        role="tabpanel"></div>
                </div>
            </div>
        </main>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbuser =/*[[${user}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCutomer =/*[[${customer}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dayyy =/*[[${dayyy}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbsearch =/*[[${search}]]*/
            'default';
            /*]]>*/
        </script>
        <th:block th:replace="layout/linkGroupScript :: linkScript"></th:block>
        <th:block th:replace="dashboard/dashlinkGroupScript :: dashLinkScript"></th:block>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/dashboard/mainSearch.js?v=2020051201"></script>
    </body>
</html>