<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="main-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>메인</title>

        <th:block th:replace="layout/linkGroupCss :: linkCss"></th:block>
        <link rel="stylesheet" href="/css/common/calLayout.css?v=2020051201">
        <link rel="stylesheet" href="/css/dashboardCss/mainHome.css?v=2020051201">
        <link rel="stylesheet" href="/css/dashboardCss/mainRsvt.css?v=2020051201">
        <link rel="stylesheet" href="/css/dashboardCss/mainAllo.css?v=2020051201">
    </head>