<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="main-GuManage" class="manage">
        <div class="main-gumanage">
            <div class="main-gumanage-item1 card-song">
                <div class="scBar">
                    <div class="gum-search">
                        <div class="gum-serach-group">
                            <div class="gum-search-icon">
                                <i class=" fas fa-search"></i>
                            </div>
                            <input
                                type="text"
                                id="guMSearch"
                                autocomplete="off"
                                oninput=""
                                placeholder="검색">
                            <button id="btn-x">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-scroll">
                    <div class="table-scroll-head">
                        <div class="scBar">
                            <table class="table table-striped table-hover table-bordered">
                                <colgroup>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="10%"/>
                                    <col width="40%"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="sortStr">이름</th>
                                        <th class="sortStr">연락처</th>
                                        <th class="sortStr">구분</th>
                                        <th class="sortStr">메모</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="table-scroll-body-guManage scBar">
                        <table class="table table-striped table-hover table-bordered">
                            <colgroup>
                                <col width="25%"/>
                                <col width="25%"/>
                                <col width="10%"/>
                                <col width="40%"/>
                            </colgroup>
                            <tbody id="guManageTb">
                                <tr>
                                    <td>오잉앙잉초등학교</td>
                                    <td>010-3123-3355</td>
                                    <td>거래처</td>
                                    <td>일이삼사오육칠발구십</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="main-gumanage-item2"></div>
        </div>
        <div class="allo-side scBar"></div>
    </div>
</html>