<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="approvalSide" id="approvalSide">
        <div class="logo" id="logoSide">
            <span class="detail-user-1" th:text="${user.company}"></span>
        </div>
        <div class="aside-main">
            <div class="side-item">
                <h4 class="">결재 생성</h4>
                <a th:href="@{/approval}">일일보고서</a>
                <!-- <a href="">배차보고서</a> -->
            </div>
            <hr>
            <div class="side-item">
                <h4 class="">결재 정보</h4>
                <a th:href="@{/approvalgo}">결재 대기<span
                    th:text="${apppapercnt[0].approvalfootseq}"
                    class="badge bg-secondary"
                    id="apBgGo"></span></a>
                <a th:href="@{/approvaling}">결재 중<span
                    th:text="${apppapercnt[1].approvalfootseq}"
                    class="badge bg-secondary"
                    id="apBgIng"></span></a>
                <a th:href="@{/approvalend}">결재 완료</a>
                <a th:href="@{/approvalout}">반 려</a>
            </div>
        </div>
    </aside>
</html>