<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="approval-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>결재 정보관리</title>

        <th:block th:replace="layout/linkGroupCss :: linkCss"></th:block>
        <link rel="stylesheet" href="/css/common/sideBar.css?v=2020051201">
        <link rel="stylesheet" href="/css/approval/approval.css?v=2020051201">
        <link rel="stylesheet" href="/css/approval/approvalUp.css?v=2020051201">
    </head>