<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="main-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다
        -->
        <title>
            고객정보
        </title>

        <th:block th:replace="layout/linkGroupCss :: linkCss"></th:block>
        <link rel="stylesheet" href="/css/common/nomal.css?v=2020051201">
        <link rel="stylesheet" href="/css/dashboardCss/mainRsvt.css?v=2020051201">
        <link rel="stylesheet" href="/css/customersCss/customersBody.css?v=2020051201">
        <link rel="stylesheet" href="/css/common/nomalPhone.css?v=2020051201">
    </head>
</html>