<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <aside class="nomal-aside">
            <div class="nomal-aside-main">
                <div class="nomal-aside-btn">
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <button type="button" class="btn btn-default" id="md-rgNew">
                            신규입력<i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </div>
                <div class="nomal-aside-search">
                    <div class="hd-search">
                        <div class="hd-serach-group">
                            <div class="hd-search-icon fas fa-search"></div>
                            <input
                                type="text"
                                id="reg-search"
                                autocomplete="off"
                                oninput="getRegularAll(this.value)"
                                placeholder="검색">
                            <button id="btn-x">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hd-name scBar">
                    <input type="hidden" id="re-iidd">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified evNav shadow-sm" role="tablist">
                            <li role="presentation" class="active">
                                <a
                                    href="#cusAll"
                                    aria-controls="cusAll"
                                    role="tab"
                                    data-toggle="tab"
                                    class="tab-flex">
                                    <span>전체</span>
                                    <span class="badge bg-secondary" id="bgcusAll">00</span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a
                                    href="#cusIl"
                                    aria-controls="cusIl"
                                    role="tab"
                                    data-toggle="tab"
                                    class="tab-flex">
                                    <span>일반</span>
                                    <span class="badge bg-secondary" id="bgcusIl">00</span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a
                                    href="#cusHak"
                                    aria-controls="cusHak"
                                    role="tab"
                                    data-toggle="tab"
                                    class="tab-flex">
                                    <span>학교</span>
                                    <span class="badge bg-secondary" id="bgcusHak">00</span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a
                                    href="#cusGu"
                                    aria-controls="cusGu"
                                    role="tab"
                                    data-toggle="tab"
                                    class="tab-flex">
                                    <span>거래처</span>
                                    <span class="badge bg-secondary" id="bgcusGu">00</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content hd-tb">
                            <div role="tabpanel" class="tab-pane fade in active" id="cusAll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <col width="50%"/>
                                            <col width="50%"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>정보</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cus-tb-all"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="cusIl">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <col width="50%"/>
                                            <col width="50%"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>연락처</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cus-tb-il"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="cusHak">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <col width="50%"/>
                                            <col width="50%"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>학교</th>
                                                <th>정보</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cus-tb-hak"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="cusGu">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <col width="50%"/>
                                            <col width="50%"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>거래처</th>
                                                <th>연락처</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cus-tb-gu"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <header class="nomal-head">
            <div class="nomal-head-item"></div>
            <div class="nomal-head-item">
                <a id="show-aside">
                    <input type="hidden" value="0" id="show-aside-hd">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </header>
        <main class="nomal-main">
            <div class="main-aside">
                <div class="main-aside-item">
                    <input type="hidden" id="rgconum" value="">
                    <div class="title1">
                        <h2 id="rgcompa">
                            회사명<small style="padding-left: 2rem; color: #888c9b;">주소</small>
                        </h2>
                    </div>
                    <div class="title2">
                        <blockquote>
                            <h5 class="titlejae">계약기간</h5>
                            <h5 id="rgper">&nbsp;</h5>
                        </blockquote>
                        <blockquote>
                            <h5 class="titlejae">담당자</h5>
                            <h5>
                                <span id="rgname">&nbsp;</span>
                                <span>
                                    <a id="rgtel">&nbsp;</a>
                                </span>
                            </h5>
                        </blockquote>
                        <blockquote>
                            <h5 class="titlejae">운행차량</h5>
                            <h5 id="rgnum">&nbsp;</h5>
                        </blockquote>
                        <blockquote>
                            <h5 class="titlejae">계약</h5>
                            <h5>
                                <span id="rgcon">&nbsp;</span><span id="rgmoney" style="padding-left: 1rem;">&nbsp;</span>
                            </h5>
                        </blockquote>
                    </div>
                </div>
                <div class="main-aside-item">
                    <div class="main-aside-item-in card-song">
                        <input type="hidden" id="regcodenum" value="">
                        <div class="">
                            <h3>aqwdfqwd</h3>
                        </div>
                        <div class="nosunTb">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered  tg-tb-01">
                                    <colgroup>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>>#</th>
                                            <th>노선이름</th>
                                            <th>차량</th>
                                            <th>>출근</th>
                                            <th>>퇴근</th>
                                            <th>승무원</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rg-tb-de"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-default" role="button" id="newNosun" disabled="disabled">Link</button>
                        </div>
                    </div>
                    <div class="main-aside-item-in card-song">
                        <div class="contens1">
                            <div class="contensT">
                                <div class="contensT1">
                                    <h3 id="rdname">노선명</h3>
                                </div>
                                <div class="contensT1">
                                    <h4 id="rdbus">차량</h4>
                                    <h4 id="rddow">요일</h4>
                                    <h4 id="rdgogo">출근</h4>
                                    <h4 id="rdoutout">퇴근</h4>
                                </div>
                            </div>
                        </div>
                        <div class="contens2">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered  tg-tb-02">
                                    <colgroup>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>>구분</th>
                                            <th>>#</th>
                                            <th>시간</th>
                                            <th>장소</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rg-tb-rc"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="contens3">
                            <div class="constents11">
                                <blockquote>
                                    <h5 class="titlejae">승무원</h5>
                                    <h5 id="rdid">&nbsp;</h5>
                                </blockquote>
                                <blockquote>
                                    <h5 class="titlejae">연락처</h5>
                                    <h5 id="">
                                        <a id="rdidtel" href="">&nbsp;</a>
                                    </h5>
                                </blockquote>
                                <blockquote>
                                    <h5 class="titlejae">운행차량</h5>
                                    <h5 id="rdve">&nbsp;</h5>
                                </blockquote>
                                <blockquote>
                                    <h5 class="titlejae">금액</h5>
                                    <h5 id="rdmoney">&nbsp;</h5>
                                </blockquote>
                                <blockquote>
                                    <h5 class="titlejae">배차금액</h5>
                                    <h5 id="rdaltm">&nbsp;</h5>
                                </blockquote>
                                <blockquote>
                                    <h5 class="titlejae">메모</h5>
                                    <h5 id="rdmemo">&nbsp;</h5>
                                </blockquote>
                            </div>
                        </div>
                        <div class="contens3">
                            <button class="btn btn-default" role="button" id="newCorse" disabled="disabled">Link</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-bside"></div>
        </main>
        <div th:insert="regular/regularBodyRegNewMd :: reg-MD-Reginsert"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const user =/*[[${user}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
        </script>
        <script
            language="javascript"
            type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/boot/bootstrap.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/boot/bootstrap.bundle.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>

        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/summernote-lite.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/summernote-ko-KR.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/common.js?v=2020051201"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/customers/customers.js?v=2020051201"></script>
    </body>
</html>